/* Reset de estilos */
body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos gerais */
body {
    background-color: #f8f8f8;
}

header {
    background-color: #f3f732;
    color: #000000;
    padding: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #db3cdb;
    font-size: 24px;
    margin-bottom: 10px;
}


h2 {
    color: #db3cdb;
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

.project {
    margin-bottom: 20px;
}

.project img {
    width: 100%;
    max-width: 300px;
}

form label, form input, form textarea {
    display: block;
    margin-bottom: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 5px;
}